body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(141, 76, 30, 0.856);    
    position: relative;
}
/* background */
.bgImage {                
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 60%;
    z-index: -1;
}


.welcome-box{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}